
body {
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 2rem !important;
}

.loading {
	color: var(--lightgrey);
	font-size: 1.5rem;
}

.error-msg {
	background-color: var(--dss_light_pink);
	color: var(--dss_crimson);
}

.return-loader {
	left: 48%;
	top: 48%;
}

.max-width {
	max-width: 100% !important;
}

