<span name="svgImg1" value="svgImg1" *ngIf="!showPopup" data-component-id="DssChatBotButton" [ngClass]="isReturn ? 'return-button-section' : 'button-section'" class="semi-transparent-button text-center position-fixed cursor-pointer shadow fab-icon" (click)="onOpenModalWindow()">
    <svg id="forum-24px" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 20.517 20.517" class="mt-3">
        <path id="Path_587" data-name="Path 587" d="M0,0H20.517V20.517H0Z" fill="none" />
        <path id="Path_588" data-name="Path 588"
            d="M18.243,5.42h-1.71v7.694H5.42v1.71a.857.857,0,0,0,.855.855h9.4L19.1,19.1V6.274A.857.857,0,0,0,18.243,5.42Zm-3.42,5.129V2.855A.857.857,0,0,0,13.968,2H2.855A.857.857,0,0,0,2,2.855V14.823L5.42,11.4h8.549A.857.857,0,0,0,14.823,10.549Z"
            transform="translate(-0.29 -0.29)" fill="#fff" />
    </svg>
  </span>

<span name="svgImg2" value="svgImg2" *ngIf="showPopup" data-component-id="DssChatBotCloseButton" [ngClass]="isReturn ? 'return-button-section' : 'button-section'" class="semi-transparent-button text-center position-fixed cursor-pointer shadow fab-icon" (click)="closeModalWindow()">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24"
        height="24" viewBox="0 0 256 256" xml:space="preserve" class="top-align-cross">
        <g transform="translate(128 128) scale(0.72 0.72)">
            <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #fff; fill-rule: nonzero; opacity: 1;"
                transform="translate(-175.05 -175.05000000000004) scale(3.89 3.89)">
                <path
                    d="M 47.098 45 L 89.565 2.532 c 0.58 -0.579 0.58 -1.519 0 -2.098 c -0.579 -0.58 -1.518 -0.58 -2.098 0 L 45 42.902 L 2.532 0.435 c -0.58 -0.58 -1.518 -0.58 -2.098 0 c -0.58 0.579 -0.58 1.519 0 2.098 L 42.902 45 L 0.435 87.468 c -0.58 0.579 -0.58 1.518 0 2.098 C 0.724 89.855 1.104 90 1.484 90 s 0.759 -0.145 1.049 -0.435 L 45 47.098 l 42.468 42.468 c 0.29 0.29 0.669 0.435 1.049 0.435 s 0.759 -0.145 1.049 -0.435 c 0.58 -0.58 0.58 -1.518 0 -2.098 L 47.098 45 z"
                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: #fff; fill-rule: nonzero; opacity: 1;"
                    transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
            </g>
        </g>
    </svg>
</span>

<div *ngIf="showPopup" [ngClass]="isReturn ? 'return-modal-section' : 'modal-section'" class="modal-container shadow-lg col-xs-12 col-lg-3 col-md-6 mx-2 my-3 px-0 position-fixed">
    <div class="chat-screen-loader position-fixed" *ngIf="isLoading">
        <div class="spinner-border position-fixed text-dark" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <iframe class="w-100 h-100 border" id="iframe" #iframe [src]="sanitizedUrl" scrolling="no"  title="Chatboat"></iframe>
</div>


